div{
width: 100px;
height: 100px;
background-image: url('https://cdn.discordapp.com/attachments/1254180729173311488/1322538580601475123/6123c2d5232f6.png?ex=67713d89&is=676fec09&hm=0cd1210c816e92ed56663a45642774de4c318c69387823371767a31738529240&');
box-shadow: 4px 4px 0px crimson;
background-position: 90px;




}